
shelxd_job.sh
mad.sh
shelxd.sh
outliers.sh
analysis.py
shelxd_job.sh
madanalysis.py
*.png
*.csv
.vscode/settings.json
__pycache__/sagasu_core.cpython-36.pyc
__pycache__/sagasu_core.cpython-37.pyc
sagasu.log
inps.pkl
__pycache__/sagasu_core.cpython-37.pyc
__pycache__/sagasu_core.cpython-38.pyc
.DS_Store
cas3/.DS_Store
h10_g11/.DS_Store
ompk/k0_km70_km70pm120_acsh_results/output.html
prasa.txt
prasaout.txt
strip.txt
__pycache__/prasaresults.cpython-38.pyc
__pycache__/sagasu_core.cpython-39.pyc
